.importExclusion {
  display: flex;
  align-items: stretch;
  margin-bottom: 10px;
  height: 30px;
  border-bottom: 1px solid var(--borderColor);
  line-height: 30px;
}

.movieTitle {
  @add-mixin truncate;
  flex: 1 0 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.foreignId {
  flex: 0 0 275px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movieYear {
  flex: 0 0 50px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 50px;
  padding-right: 10px;
}

.actions>a {
  padding-right: 5px;
  color: inherit;
}